<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherAppJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>337F85CE1D51CC41008BC88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337F85E21D51CC42008BC88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>337F85ED1D51CC42008BC88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
